<!DOCTYPE html>
<html>
<head th:replace="fragments/template.html :: head_default"></head>

<body>    
    <nav th:replace="fragments/template.html :: navbar"></nav>
    
    <div class="container text-center">
        <div class="py-5">
            <h2>About</h2>
        </div>

        <div class="justify-content-md-center">
            <p>This is a demonstration of Spring Security</p>

            <p sec:authorize="isFullyAuthenticated()">You are logged in.</p>
            <p sec:authorize="!isFullyAuthenticated()">You are not logged in.</p>
        </div>
    </div>
</body>
</html>