<!DOCTYPE html>
<html>
<head th:replace="fragments/template.html :: head_default"></head>

<body>
    <nav th:replace="fragments/template.html :: navbar"></nav>
    
    <div class="container text-center">
        <div class="py-5">
            <h2>Terms and conditions</h2>
        </div>

        <div class="justify-content-md-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non eros iaculis, hendrerit sapien nec, auctor justo. Sed ut felis et felis elementum tincidunt. Donec vitae lobortis mauris, et efficitur urna. In posuere, erat a tincidunt convallis, nulla est volutpat felis, in luctus lectus nibh id enim. Proin enim quam, rutrum quis venenatis sit amet, faucibus eu massa. Praesent sollicitudin gravida orci. Nulla ac elit et nunc semper molestie placerat vel augue. Proin sagittis velit fringilla auctor scelerisque. Etiam sit amet massa tempus, rutrum turpis et, vehicula lacus. Mauris vitae nibh justo. In placerat vestibulum massa eu consectetur. Duis blandit, neque quis maximus lobortis, sem nisl placerat tortor, vitae volutpat leo mi sed augue. Ut faucibus tortor in dui posuere pharetra. Proin ultrices hendrerit pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget libero vitae arcu maximus convallis.</p>
        
            <p>Nunc sed ullamcorper enim. Donec in orci lacus. Donec a diam et mi auctor iaculis. Proin vitae dolor id velit fringilla dignissim sed auctor tortor. Quisque venenatis eget neque a tristique. Mauris rhoncus semper nulla. In hac habitasse platea dictumst. Vestibulum porttitor pellentesque metus, in lacinia diam facilisis eget. Vivamus et tellus a nisi euismod pharetra vel eget mi. Sed iaculis diam accumsan, pretium turpis ut, scelerisque dolor.</p>
        </div>
    </div>
</body>
</html>